
{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
<div class="h2 text-center head ">
    Вход
            </div>
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control btn btn-outline-success" type="submit" value="войти">
    </form>

<div class="p-3">
    <button class="form-control btn btn-link btn-sm">
        <a href="{% url 'auth:register' %}" class="text-decoration-none text-reset ">
            регистрация
        </a>
    </button>
</div>
{% endblock %}